body {
    background-color: aliceblue;
}

span{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    font-size: 20px;
    font-weight: bold;
    color:red;
}