<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>Gestión de canciones para <%= user.name %>!</h1>
    </header>
    <main>
        <section>
            <h2>Lista de canciones</h2>
            <button id="btn_new_song">Add new song</button>
            <ul class="song-list">
                <% data.songs.forEach(song => { %>
                    <li class="song-item">
                        <div>
                            <p><%= song.title %></p>
                            <a href="/songs/show/<%= song.id %>">View Details</a>
                        </div>
                    </li>
                <% }) %>
            </ul>
        </section>
    </main>
</body>
</html>