<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style-songs.css">
    <script src="/js/header.js" type="module" defer></script>
</head>
<body>
    <header>
    </header>
    <main>
        <h1>Gestión de canciones para <%= user.name %>!</h1>
        <section class="container">
            <h2>Lista de canciones</h2>
            <a href="/songs/songs">Add new song</a>
            <ul class="song-list">
                <% data.songs.forEach(song => { %>
                    <li class="lista-item">
                        <div>
                            <p><%= song.title %></p>
                            <a href="/songs/show/<%= song.id %>">View Details</a>
                        </div>
                    </li>
                <% }) %>
            </ul>
        </section>
    </main>
</body>
</html>